{% extends 'base.html' %}
{% block title %}
Course - Review
{% endblock %}
{% block content %}
<h1>Tonoy Akanda</h1>
<div class="ml-5 mt-5 ml-5">
    <p>
        <a role="button" class="btn btn-outline-warning" href="{% url 'courses' %}" target="_blank">Courses</a>
    </p>
</div>
<div class="container">
    <div class="page-header page-header-custom">
        <h1 class="text-center">List of All courses</h1>
    </div>
    <div class="jumbotron">
        {% for course in course_list %}
        <h3>🔦 <a href="{% url 'course_detail' course.id %}" target="_blank">{{ course.title }}.</a></h3>
        {% endfor %}
    </div>
</div>
{% endblock %}